@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
/* @import "https://unpkg.com/open-props/buttons.min.css"; */

@layer utilities {
    .m2 {
        margin-block: var(--size-fluid-2);
    }
    .w100 {
        width: 100%;
    }
}

:root {
    --gray-0: oklch(0.15 0.02 278.91);
    --gray-1: oklch(0.18 0.02 270.52);
    --gray-2: oklch(0.21 0.02 262.12);
    --gray-3: oklch(0.23 0.02 253.73);
    --gray-4: oklch(0.26 0.02 245.33);
    --gray-5: oklch(0.29 0.03 236.94);
    --gray-6: oklch(0.38 0.02 221.45);
    --gray-7: oklch(0.48 0.02 205.97);
    --gray-8: oklch(0.57 0.02 190.48);
    --gray-9: oklch(0.66 0.01 174.99);
    --gray-10: oklch(0.75 0.01 159.5);
    --gray-11: oklch(0.85 0.01 144.02);
    --gray-12: oklch(0.94 0.01 128.53);
    --purple-0: oklch(0.25 0.05 283.5);
    --purple-1: oklch(0.31 0.07 294.24);
    --purple-2: oklch(0.36 0.1 304.98);
    --purple-3: oklch(0.42 0.12 315.72);
    --purple-4: oklch(0.47 0.14 326.46);
    --purple-5: oklch(0.53 0.16 337.2);
    --purple-6: oklch(0.56 0.15 340.07);
    --purple-7: oklch(0.58 0.15 342.93);
    --purple-8: oklch(0.61 0.14 345.8);
    --purple-9: oklch(0.64 0.14 348.66);
    --purple-10: oklch(0.67 0.13 351.53);
    --purple-11: oklch(0.69 0.12 354.39);
    --purple-12: oklch(0.72 0.12 357.26);
    --blue-0: oklch(0.25 0.05 267.33);
    --blue-1: oklch(0.33 0.06 261.85);
    --blue-2: oklch(0.4 0.07 256.37);
    --blue-3: oklch(0.48 0.07 250.88);
    --blue-4: oklch(0.55 0.08 245.4);
    --blue-5: oklch(0.63 0.09 239.92);
    --blue-6: oklch(0.66 0.09 233.28);
    --blue-7: oklch(0.7 0.08 226.63);
    --blue-8: oklch(0.73 0.08 219.99);
    --blue-9: oklch(0.76 0.07 213.34);
    --blue-10: oklch(0.79 0.07 206.7);
    --blue-11: oklch(0.83 0.06 200.05);
    --blue-12: oklch(0.86 0.06 193.41);
    --green-0: oklch(0.3 0.03 177.23);
    --green-1: oklch(0.37 0.06 168.1);
    --green-2: oklch(0.45 0.08 158.96);
    --green-3: oklch(0.52 0.1 149.83);
    --green-4: oklch(0.6 0.12 140.69);
    --green-5: oklch(0.67 0.14 131.56);
    --green-6: oklch(0.7 0.13 129.16);
    --green-7: oklch(0.72 0.13 126.77);
    --green-8: oklch(0.75 0.12 124.37);
    --green-9: oklch(0.78 0.12 121.97);
    --green-10: oklch(0.81 0.11 119.57);
    --green-11: oklch(0.83 0.1 117.18);
    --green-12: oklch(0.86 0.1 114.78);
    --orange-0: oklch(0.26 0.04 8.65);
    --orange-1: oklch(0.33 0.06 19.57);
    --orange-2: oklch(0.41 0.07 30.48);
    --orange-3: oklch(0.48 0.09 41.4);
    --orange-4: oklch(0.56 0.11 52.31);
    --orange-5: oklch(0.63 0.13 63.23);
    --orange-6: oklch(0.66 0.12 66.24);
    --orange-7: oklch(0.69 0.12 69.26);
    --orange-8: oklch(0.72 0.12 72.27);
    --orange-9: oklch(0.74 0.12 75.29);
    --orange-10: oklch(0.77 0.11 78.3);
    --orange-11: oklch(0.8 0.11 81.32);
    --orange-12: oklch(0.83 0.11 84.33);
    --gradient-linear-orange-0: linear-gradient(
        0deg,
        var(--orange-0) 0%,
        var(--orange-5) 50%,
        var(--orange-12) 100%
    );
    --gradient-linear-orange-1: linear-gradient(
        60deg,
        var(--orange-0) 0%,
        var(--orange-5) 50%,
        var(--orange-12) 100%
    );
    --gradient-linear-orange-2: linear-gradient(
        120deg,
        var(--orange-0) 0%,
        var(--orange-5) 50%,
        var(--orange-12) 100%
    );
    --gradient-linear-orange-3: linear-gradient(
        180deg,
        var(--orange-0) 0%,
        var(--orange-5) 50%,
        var(--orange-12) 100%
    );
    --gradient-linear-orange-4: linear-gradient(
        240deg,
        var(--orange-0) 0%,
        var(--orange-5) 50%,
        var(--orange-12) 100%
    );
    --gradient-linear-orange-5: linear-gradient(
        300deg,
        var(--orange-0) 0%,
        var(--orange-5) 50%,
        var(--orange-12) 100%
    );
    --gradient-conic-orange-0: conic-gradient(
        0deg,
        var(--orange-0) 0%,
        var(--orange-5) 50%,
        var(--orange-12) 100%
    );
    --gradient-conic-orange-1: conic-gradient(
        60deg,
        var(--orange-0) 0%,
        var(--orange-5) 50%,
        var(--orange-12) 100%
    );
    --gradient-conic-orange-2: conic-gradient(
        120deg,
        var(--orange-0) 0%,
        var(--orange-5) 50%,
        var(--orange-12) 100%
    );
    --gradient-conic-orange-3: conic-gradient(
        180deg,
        var(--orange-0) 0%,
        var(--orange-5) 50%,
        var(--orange-12) 100%
    );
    --gradient-conic-orange-4: conic-gradient(
        240deg,
        var(--orange-0) 0%,
        var(--orange-5) 50%,
        var(--orange-12) 100%
    );
    --gradient-conic-orange-5: conic-gradient(
        300deg,
        var(--orange-0) 0%,
        var(--orange-5) 50%,
        var(--orange-12) 100%
    );
    --radial-gradient-orange: radial-gradient(
        100% 100% at 50% 50%,
        var(--orange-0) 0%,
        var(--orange-5) 50%,
        var(--orange-12) 100%
    );
    --radial-gradient-orange-invert: radial-gradient(
        100% 100% at 50% 50%,
        var(--orange-12) 0%,
        var(--orange-5) 50%,
        var(--orange-0) 100%
    );

    --primary: var(--blue-6);
    --secondary: var(--orange-6);
    --surface-1: var(--gray-0);
    --surface-2: var(--gray-1);
    --surface-3: var(--gray-1);
    --text-1: var(--gray-10);
}

@view-transition {
    navigation: auto;
}

input {
    border-radius: 0;
    background-color: var(--gray-3);
    border: var(--border-size-1) solid var(--gray-6);
    &:focus {
        outline: none;
        border-color: var(--gray-8);
    }
    &::placeholder {
        color: var(--gray-8);
    }
}

body {
    font-family: var(--font-industrial);
    padding-inline: var(--size-fluid-5);
}

button {
    background-color: var(--_bg-color);
    color: var(--_text-color);
    text-shadow: none;
    box-shadow: none;
    border: var(--size-1) solid var(--_border-color);
    padding-inline: var(--size-2);
    padding-block: var(--size-1);

    &:hover {
        background-color: var(--_hover-bg-color);
    }

    &:active {
        background-color: var(--_active-bg-color);
        border-color: var(--_active_border-color);
        color: var(--_active-text-color);
    }
}

button.primary {
    --_bg-color: var(--blue-6);
    --_text-color: var(--blue-1);
    --_border-color: var(--blue-3);
    --_hover-bg-color: var(--blue-7);
    --_active-bg-color: var(--blue-5);
    --_active-text-color: var(--blue-0);
    --_active_border-color: var(--blue-2);
}

button.secondary {
    --_bg-color: var(--orange-6);
    --_text-color: var(--orange-1);
    --_border-color: var(--orange-3);
    --_hover-bg-color: var(--orange-7);
    --_active-bg-color: var(--orange-5);
    --_active-text-color: var(--orange-0);
    --_active_border-color: var(--orange-2);
}

button.neutral {
    --_bg-color: var(--gray-8);
    --_text-color: var(--gray-1);
    --_border-color: var(--gray-6);
    --_hover-bg-color: var(--gray-9);
    --_active-bg-color: var(--gray-7);
    --_active-text-color: var(--gray-0);
    --_active_border-color: var(--gray-5);
}

button.danger {
    --_bg-color: var(--red-6);
    --_text-color: var(--red-1);
    --_border-color: var(--red-3);
    --_hover-bg-color: var(--red-7);
    --_active-bg-color: var(--red-5);
    --_active-text-color: var(--red-0);
    --_active_border-color: var(--red-2);
}

.user-ledgers {
    display: flex;
    flex-direction: column;
    gap: var(--size-fluid-2);
}

.ledger {
    background-color: var(--blue-0);
    border: var(--border-size-1) solid var(--blue-1);
    border-radius: var(--radius-0);
    box-shadow: var(--shadow-5);
    margin-block: var(--size-fluid-2);
    width: 40rem;
    margin: 0 auto;

    .ledger-header {
        color: var(--secondary);
        padding: var(--size-fluid-2);
        margin-bottom: var(--size-fluid-2);
        font-size: var(--font-size-6);
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: var(--font-letterspacing-3);
        line-height: var(--font-lineheight-4);
    }

    .people {
        background-color: var(--gray-0);
        display: flex;
        flex-direction: column;
        padding-inline: var(--size-fluid-0);
        box-shadow: var(--shadow-2);
        margin: var(--size-0);
    }

    .add-person {
        display: flex;
        gap: var(--size-fluid-2);
        padding: var(--size-fluid-2);
        input {
            flex: 1;
        }

        button {
            flex: 0;
        }
    }

    .people-list {
        display: flex;
        flex-direction: column;
        gap: var(--size-fluid-0);
    }

    .person {
        display: flex;
        flex-direction: column;
        gap: var(--size-fluid-2);
        border-block-start: var(--border-size-1) solid var(--blue-1);
        border-radius: var(--radius-0);
        padding: var(--size-fluid-2);
        background-color: var(--gray-1);
    }

    .add-payment {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-block: var(--size-fluid-2);
    }
}

.ledger-nav {
    --_transparent: transparent;
    --_bg-color: var(--blue-2);
    --_inactive_bg: var(--_transparent);
    --_inactive_border: var(--blue-2);
    --_inactive_text: var(--blue-4);
    --_active_bg: var(--_transparent);
    --_active_border: var(--blue-9);
    --_active_text: var(--blue-9);  

    margin: var(--size-fluid-0);
    width: 100%;

    /* Tab list */
    & > [role="tablist"] {
        border-bottom: var(--border-size-1) solid var(--_inactive_border);
        display: flex;
        gap: var(--size-0);
        button {
            --_ripple-color: light-dark(
                color-mix(in oklch, var(--gray-2) 80%, var(--gray-8)),
                color-mix(in oklch, var(--gray-13) 80%, var(--gray-8))
            );

            background: var(--_inactive_bg) var(--ripple, none);
            color: var(--_inactive_text);
            font-weight: 300;
            font-size: var(--font-size-1);
            text-transform: uppercase;
            letter-spacing: var(--font-letterspacing-3);
            line-height: var(--font-lineheight-4);
            padding-block: 0;
            padding-inline: var(--size-fluid-2);
            outline-color: transparent;
            outline-offset: -4px;
            border-radius: 0;
            box-shadow: none;

            .button-text {
                display: flex;
                align-items: baseline;
                justify-content: center;
                padding-block: var(--size-fluid-1);
                border-block: var(--size-1) solid var(--_transparent);
                text-align: center;
            }

            &:focus-visible {
                border-radius: 0;
            }

            &[aria-selected] {
                background-color: var(--_active_bg);
                /* border: var(--border-size-1) solid var(--_active_border); */
                /* border-block-end: 2px solid var(--_active_border); */
                color: var(--_active_text);

                .button-text {
                    border-block-end: var(--size-1) solid var(--_active_border);
                }

                &:focus-visible {
                    outline: 2px solid var(--text-color-1);
                }
            }

            @media (prefers-reduced-motion: no-preference) {
                transition:
                    background-color 0.2s var(--ease-out-3),
                    border-color 0.2s var(--ease-out-3),
                    color 0.2s var(--ease-out-3),
                    outline-offset 0.05s var(--ease-1);

                /*** Ripple effect */
                background-position: center;
                transition: background var(--button-ripple-duration);

                &:where(:not(:active):hover) {
                    --ripple: radial-gradient(
                            circle,
                            transparent 1%,
                            var(--_ripple-color) 1%
                        )
                        center/15000%;
                }

                &:where(:hover:active) {
                    background-size: var(--button-ripple-size);
                    transition: background 0s;
                }

                &:hover {
                    background-color: light-dark(
                        oklch(from var(--primary) calc(l * 0.75) none h / 5%),
                        oklch(from var(--primary) calc(l * 1.25) none h / 5%)
                    );
                }
            }
        }
    }
}
