package web

import "fmt"
import "unshift.local/paybaq/models"

templ LedgerPaybaqs(ledger models.Ledger) {
	<section data-show={fmt.Sprintf("$ledgerViews.%s.tab == 'paybaqs'", ledger.Id)} style="display: none">
		Not implemented
	</section>
}
