package web

import "fmt"
import "unshift.local/paybaq/models"

templ LedgerPaybaqs(ledger models.Ledger) {
	<section>
		for _, paybaq := range ledger.Paybaqs {
			<div>
				{ ledger.People[paybaq.From].NameOrPlaceholder() } owes { ledger.People[paybaq.To].NameOrPlaceholder() } { fmt.Sprintf("$%.2f", paybaq.Amount) }
			</div>
		}
	</section>
}
