package web

import (
	"fmt"
	"unshift.local/paybaq/models"
)

templ LedgerStream(ledger models.Ledger) {
	<div data-init={ fmt.Sprintf("@get('/ledgers/%s/stream')", ledger.Id) }>
		@Ledger(ledger)
	</div>
}
