package web

import "unshift.local/paybaq/models"

templ PageHome(userLedgers []models.Ledger) {
	
<section class="">
	<h1 class="uppercase">WELCOME TO PAYBAQ</h1>
	<p>Track shared expenses and settle up effortlessly with friends.</p>
</section>

<section class="new-ledger">
	<h2 class="uppercase">Create a New Ledger</h2>
	<form id="create-ledger-form" action="/ledgers" method="POST">
		<label for="ledger-name">
			<p>Ledger Name</p>
			<input id="ledger-name" name="name" type="text" placeholder="Trip to NYC" required />
		</label>
		<button class="btn btn-neutral" type="submit">CREATE</button>
	</form>
</section>
<section class="flex flex-col items-center">
	<h2 class="text-lg font-semibold uppercase">Your Ledgers</h2>
	<div class="mx-auto w-full max-w-2xl">
		@UserLedgers(userLedgers)
	</div>
</section>

}